/**********************************************
              Estilo de Fonte
***********************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
/**********************************************
                Estilo Geral
***********************************************/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
/**********************************************
                  Navegação
***********************************************/
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  background: rgba(0, 0, 0, 0.05);
}
#logo {
  font-size: 30px;
  font-weight: bold;
}
#header {
  box-sizing: border-box;
  height: 100px;
  padding: 0 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #160539;
  font-size: 22px;
  position: fixed;
  width: 100%;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}
/**********************************************
                  Banner
***********************************************/
.banner {
  background: rgb(255, 254, 254);
  width: 100%;
  height: 130vh;
  background-image: url("/imagens/Plano-de-fundo.jpg");
  background-size: cover;
  padding: 60px 0 0 0;
}
/*************Box text do Banner*************/
.banner-text {
  width: 59%;
  height: 40vh;
  display: inline-block;
  line-height: 40px;
}
.banner-text h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
.banner-text p {
  color: white;
  font-size: 30px;
  padding: 0 0 0 100px;
}
/***************Card do Banner***************/
.banner-card {
  width: 40%;
  height: 50vh;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
}
.mySlides img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: flex;
}
.container {
  padding: 0px 16px;
}
/* ***********Button do banner***************/
.banner-button {
  text-align: center;
  margin: 0;
  padding: 0;
}
.banner-button button {
  background: #160539;
  color: white;
  width: 350px;
  height: 80px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
}
.banner-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #16053944;
  border: none;
}
/*----------------------------------------------
                    Ofertas
----------------------------------------------*/
.ofertas-h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 100px 0 0 0;
}
.ofertas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 30px 0 0 0;
  padding: 0 10% 0 10%;
  align-items: center;
  justify-content: center;
}
.box-ofertas-1,
.box-ofertas-2,
.box-ofertas-3,
.box-ofertas-4,
.box-ofertas-5,
.box-ofertas-6 {
  background-color: #4436c4;
  width: 400px;
  height: 40vh;
  margin: 20px 20px 0;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: block;
}
.card-ofertas {
  color: black;
  text-align: center;
}
.box-ofertas-1 {
  background: url(/imagens/box-oferta-1/lateral.png);
  background-size: cover;
  cursor: pointer;
}
.box-ofertas-1:hover {
  border: #160539;
}
.box-ofertas-2 {
  background: url(/imagens/box-oferta-2/frente.png);
  background-size: cover;
}
.box-ofertas-3 {
  background: url(/imagens/box-oferta-3/par.png);
  background-size: cover;
}
.box-ofertas-4 {
  background: url(/imagens/box-oferta-5/lateral.png);
  background-size: cover;
}
.box-ofertas-5 {
  background: url(/imagens/box-oferta-5/frente.png);
  background-size: cover;
}
.box-ofertas-6 {
  background: url(/imagens/box-oferta-6/lateral.png);
  background-size: cover;
}
.box-ofertas-text {
  color: black;
  font-size: 30px;
}
.box-ofertas-text:hover {
  font-size: 32px;
  border: none;
  background: none;
}
/* -------------Ofertas Button--------------- */
.ofertas-button {
  text-align: right;
  margin: 120px 18.5%;
  padding: 50%;
  padding: 0;
}
.ofertas-button button {
  background: #160539;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  font-size: 25px;
}
.ofertas-button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #6e34e2;
  color: #ffffff;
  border: none;
}
/* -----------Carrousel Rotativo------------- */
.myCard img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: flex;
  background: none;
  background: rgb(255, 255, 255);
}
.dote {
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  color: #160539;
}
.dote:hover {
  background: rgba(255, 255, 255, 0.068);
}
/**********************************************
                  Sobre
***********************************************/
.prop {
  width: 100%;
  height: 100vh;
  background: url(/imagens/prop.jpg);
  background-size: cover;
}
.prop p {
  text-align: center;
  height: 80vh;
  font-size: 30px;
  padding: 15% 0 0 0;
  color: white;
  text-transform: capitalize;
  font-family: "Fuzzy Bubbles", cursive;
  line-height: 50px;
}
/**********************************************
                encaminhamento
***********************************************/

.encaminhamento {
  width: 100%;
  padding: 0 150px;
  margin: 100px 0;
}
/* *****************Ajuda******************* */
.ajuda {
  background: url(/imagens/fundo-card.jpg);
  background-size: cover;
  display: inline-block;
  width: 50%;
  height: 70vh;
  border-radius: 50px 0 0 50px;
  padding: 180px 0 0 0;
}
.ajuda h1 {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.ajuda p {
  font-size: 25px;
  width: 100%;
  text-align: center;
  line-height: 35px;
}
.ajuda-img {
  width: 100%;
  text-align: center;
}
/* *************Cadastro******************* */
.cadastro {
  background: url(/imagens/fundo-card.jpg);
  background-size: cover;
  display: inline-block;
  width: 50%;
  height: 70vh;
  border-radius: 0 50px 50px 0;
  float: right;
}
.cadastro form {
  text-align: center;
  height: 100%;
}
.cadastro form h1 {
  margin: 40px;
  font-size: 40px;
}
.cadastro-box {
  height: 10vh;
}

.cadastro-box input {
  text-align: left;
  width: 500px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
}
.mens {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.button button {
  width: 500px;
  height: 50px;
  margin: 50px;
  border-radius: 30px;
  background: #160539;
  color: white;
  font-size: 20px;
}
.button button:hover {
  background: white;
  color: #160539;
  font-weight: 600;
  font-size: 20px;
}
/**********************************************
                  Footer
***********************************************/

footer {
  bottom: 0;
}
.footer-distributed {
  background-color: #160539;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  color: white;
  text-align: center;
}
/**********************************************
                  Responsividade
***********************************************/
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0px;
    background: rgb(109, 23, 131);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(243, 238, 238, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
