<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Sports //</title>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/produtos.css" />
  </head>
  <body>
    <!-------------------------------------------------
                    Navegação
  -------------------------------------------------->
    <div id="header">
      <a id="logo" href="">Next Sports //</a>
      <nav id="nav">
        <button
          aria-label="Abrir Menu"
          id="btn-mobile"
          aria-haspopup="true"
          aria-controls="menu"
          aria-expanded="false"
        >
          <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
          <li><a href="../index.html">PRINCIPAL</a></li>
          <li><a href="./sobre.html">SOBRE</a></li>
          <li><a href="components/produtos.html">PRODUTOS</a></li>
          <li><a href="/">CONTATO</a></li>
        </ul>
      </nav>
    </div>

    <!-- -----------------------------------------
            Carrousel do card
    --------------------------------------------->
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="imagens/card-banner/img1.png" />
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="imagens/card-banner/img2.png" />
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="imagens/card-banner/img3.png" />
      </div>
    </div>
    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    </div>
    <!-- Banner Button -->
    <div class="banner-button">
      <button>Veja Nossas Ofertas</button>
    </div>
    </div>

    <!-------------------------------------------------
                       Ofertas
  -------------------------------------------------->
    <h1 class="ofertas-h1">Confira nossas Ofertas!</h1>
    <div class="ofertas">
      <!-- Cards das ofertas -->
      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-1"></div>
          <h1>Adidas Black Shadow</h1>
          <h2>RS: 159,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>
      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-2"></div>
          <h1>Spink Color</h1>
          <h2>RS: 199,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>
      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-3"></div>
          <h1>Saas yellow gold</h1>
          <h2>RS: 499,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>
      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-4"></div>
          <h1>Fila many colors</h1>
          <h2>RS: 299,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>
      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-5"></div>
          <h1>Fila Stars</h1>
          <h2>RS: 199,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>

      <button onclick="redirecionar();">
        <div class="card-ofertas">
          <div class="box-ofertas-6"></div>
          <h1>Oakley Boots</h1>
          <h2>RS: 259,90</h2>
          <h1>Peça já o seu!</h1>
        </div>
      </button>
    </div>
    <!-------------------------------------------------
                    Footer
  -------------------------------------------------->
    <footer class="footer-distributed">
      <h1>Projeto realizado com Objetivos didáticos</h1>
      <h2>Escola Técnica de Brasília</h2>
      <p>	&copy; Todos os Direitos Reservados</p>

    </footer>

    <script src="../js/script.js"></script>
  </body>
</html>
