<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Sports //</title>

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/sobre.css" />
  </head>
  <body>
    <!-------------------------------------------------
                    Navegação
  -------------------------------------------------->
    <div id="header">
      <a id="logo" href="">Next Sports //</a>
      <nav id="nav">
        <button
          aria-label="Abrir Menu"
          id="btn-mobile"
          aria-haspopup="true"
          aria-controls="menu"
          aria-expanded="false"
        >
          <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
          <li><a href="../index.html">PRINCIPAL</a></li>
          <li><a href="components/sobre.html">SOBRE</a></li>
          <li><a href="./produtos.html">PRODUTOS</a></li>
          <li><a href="/">CONTATO</a></li>
        </ul>
      </nav>
    </div>
    <!-------------------------------------------------
                Missão da empresa
  -------------------------------------------------->
    <h1 class="ofertas-h1">Nossa Missão!</h1>
    <div class="prop">
      <p>
        Somos uma empresa de calçados que desenvolver soluções criativas e
        personalizadas para <br />
        atender as necessidades<br />
        de nossos clientes, oferecendo Produtos de qualidade,<br />
        eficaz e com estilo para todos os gostos, garantindo assim que <br />
        os objetivos de nossos clientes sejam alcançados e transformando em uma
        experiência unica.
      </p>
    </div>

    <!-------------------------------------------------
                    Footer
  -------------------------------------------------->
    <footer class="footer-distributed">
      <h1>Projeto realizado com Objetivos didáticos</h1>
      <h2>Escola Técnica de Brasília</h2>
      <p>&copy; Todos os Direitos Reservados</p>
    </footer>

    <script src="../js/script.js"></script>
  </body>
</html>
